<div id="video_popup" class="modal" tabindex="-1" data-width="760">
  <div class="modal-header">
    <h3>
      Video 
    </h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <%= video_tag("http://rumble.seemespeak.org/videofiles/Festplatte.webm", :id => "the_video") %>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>