.row-fluid
  .row-fluid.page-header.text-center
    %h1
      = link_to(image_tag("logo.png", alt: "See Me Speak"), root_path)

.row-fluid
  .span2
  .span8
    %h3= sign_translate(@entry)
    = render partial: "videos/entry", locals: {entry: @entry}


