.row-fluid
  .row-fluid.page-header.text-center
    %h1
      = image_tag("logo.png", alt: "See Me Speak")
  .row-fluid
    .text-center.search-field
      = form_tag(videos_path, :method => :get) do
        .input-append
          = text_field_tag :transcription, nil, placeholder: "Go and look up a word..."
          = button_tag "Search", class: "btn"
  .row-fluid
    .span6
      %h3 Learn a word today!
      %p.well
      %p And now you know how to say #WORD# in #LANGUAGE#
    .span6
      %h3 About
      %p.lead
        See Me Speak is a dictionary for sign language. You can easily
        search for signs and even add missing ones with your webcam.
      %p.lead
        Currently we have #WORDS# videos available in the database.
