// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

#video_popup{
  margin-top: 0px !important;

  .modal-body {
    max-height: 500px;
  }
  .highlight{
    color: red;
  }
}


.search-field .more-options {
  margin-left: 5px;
}

.expert-search {
  display: none;
  label.checkbox {
    padding-left: 0px;
    padding-right: 10px;
  }
}

.not-found {
  margin: 20px;
}

.videos_new {
  video#live {
    background-color: black;
    border: 2px solid white;
    @include border-radius(4px);

    &.recording {
      border-color: red;
    }
  }

  #record-me {
    $diameter: 125px;
    $primary: rgb(238, 95, 91);
    $secondary: rgb(189, 54, 47);

    height: $diameter;
    width: $diameter;
    @include border-radius($diameter);

    font-weight:bold;
    color: white;
    text-shadow: 0px 0px 5px black;
    @include background(linear-gradient($primary, $secondary));


    &:hover {
      @include background(linear-gradient($secondary, $primary));
    }

    &[disabled] {
      @include background(linear-gradient(#909090, #606060));
    }
  }

  #action-controls > *{
    padding: 0 15px;
  }

  #video-preview {
    float: left;
    width: 640px;
    padding-right: 20px;
  }

  #form-controls {
    float: left;
  }

}
